html {
  font-size: 62.5%;
}
body {
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.head {
  width: 100%;
  height: 17.38rem;
  background: #fbf6eb;
  overflow: hidden;
}
.head .seven {
  width: 100%;
  text-align: center;
  margin-top: 3.375rem;
}
.head .seven img {
  width: 6.75rem;
  height: 6.75rem;
}
.head .words {
  margin-top: 2.25rem;
  font-size: 1.375rem;
  text-align: center;
}
@media screen and (min-width: 414px) {
  .head .words {
    font-size: 1.8rem;
  }
}
.box {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
}
.box .box_container {
  width: 23rem;
  margin: auto;
}
@media screen and (min-width: 414px) {
  .box .box_container {
    width: 29rem;
  }
}
.box .box_container .dian {
  float: left;
  width: 0.675rem;
  height: 0.675rem;
  border-radius: 0.675rem;
  background: #bababa;
  position: relative;
  top: 0.5rem;
}
@media screen and (min-width: 414px) {
  .box .box_container .dian {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
  }
}
.box .box_container .inf {
  width: 20.325rem;
  float: left;
  margin-left: 2rem;
  font-size: 1.375rem;
  color: #bababa;
}
@media screen and (min-width: 414px) {
  .box .box_container .inf {
    width: 26rem;
    font-size: 1.8rem;
  }
}
